{% load static %}
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Times,serif;font-size:32.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:32.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_019{font-family:Times,serif;font-size:12.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_019{font-family:Times,serif;font-size:12.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:13.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:13.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Times,serif;font-size:11.1px;color:rgb(108,108,108);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_020{font-family:Times,serif;font-size:11.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_020{font-family:Times,serif;font-size:11.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Times,serif;font-size:11.1px;color:rgb(180,180,180);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_015{font-family:Times,serif;font-size:11.1px;color:rgb(180,180,180);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:10.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:10.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_018{font-family:Arial,serif;font-size:10.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_018{font-family:Arial,serif;font-size:10.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:"Calibri",serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:"Calibri",serif;font-size:11.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<!-- <script type="text/javascript" src="3eb25ca4-c039-11ea-8b25-0cc47a792c0a_id_3eb25ca4-c039-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script> -->
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">

	<img src="{% static 'images_cv/background1.jpg' %}" width=612 height=792>

</div>

<div style="position:absolute;left:79.22px;top:47.54px" class="cls_002"><span class="cls_002">TRAN TUAN CANH</span></div>
<div style="position:absolute;left:79.46px;top:93.62px" class="cls_003"><span class="cls_003">Email: </span><A HREF="mailto:cantran210699@gmail.com">cantran210699@gmail.com</A> </span></div>
<div style="position:absolute;left:79.46px;top:112.37px" class="cls_003"><span class="cls_003">Phone: 096 345 2909</span></div>
<div style="position:absolute;left:79.46px;top:131.09px" class="cls_003"><span class="cls_003">LinkedIn: linkedin.com/in/cảnh-trần-b57564162</span></div>
<div style="position:absolute;left:79.22px;top:160.85px" class="cls_005"><span class="cls_005">PROFILE</span></div>
<div style="position:absolute;left:79.46px;top:184.37px" class="cls_006"><span class="cls_006">Energetic and passionate college student working towards Machine Learning in computer</span></div>
<div style="position:absolute;left:79.46px;top:196.87px" class="cls_006"><span class="cls_006">science at Ton Duc Thang University. Aiming to use my knowledge of algorithm, coding, and</span></div>
<div style="position:absolute;left:79.46px;top:209.59px" class="cls_006"><span class="cls_006">model development to satisfy the internship at your company.</span></div>
<div style="position:absolute;left:79.22px;top:238.15px" class="cls_005"><span class="cls_005">EXPERIENCE</span></div>
<div style="position:absolute;left:79.22px;top:261.67px" class="cls_008"><span class="cls_008">12/2019 -</span></div>
<div style="position:absolute;left:128.69px;top:261.67px" class="cls_009"><span class="cls_009">CIFAR-10 Object Recognition using CNN (VGG-16)</span></div>
<div style="position:absolute;left:79.22px;top:273.19px" class="cls_008"><span class="cls_008">2/2020</span></div>
<div style="position:absolute;left:131.33px;top:280.18px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  GitHub:</span><span class="cls_006"> </span><A HREF="https://github.com/connortran216/CIFAR-10-VGG-16">https://github.com/connortran216/CIFAR-10-VGG-16</A> </span></div>
<div style="position:absolute;left:131.33px;top:293.62px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  Description:</span><span class="cls_006"> Apply VGG-16 model to extract features from pictures</span></div>
<div style="position:absolute;left:149.33px;top:306.10px" class="cls_006"><span class="cls_006">and learn how to classify these images in the right class. As the result,</span></div>
<div style="position:absolute;left:149.33px;top:318.82px" class="cls_006"><span class="cls_006">the accuracy was 77.76%.</span></div>
<div style="position:absolute;left:131.33px;top:332.26px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  Tech stack:</span><span class="cls_006"> VGG-16, Keras framework, Tensorflow backend.</span></div>
<div style="position:absolute;left:79.22px;top:357.22px" class="cls_008"><span class="cls_008">6/2019-</span></div>
<div style="position:absolute;left:128.69px;top:357.22px" class="cls_009"><span class="cls_009">Online supporter and Content Editor</span></div>
<div style="position:absolute;left:79.22px;top:368.76px" class="cls_008"><span class="cls_008">10/2019</span></div>
<div style="position:absolute;left:128.69px;top:375.00px" class="cls_012"><span class="cls_012">Intern</span></div>
<div style="position:absolute;left:128.69px;top:392.52px" class="cls_015"><span class="cls_015">IEG Viet Nam</span></div>
<div style="position:absolute;left:128.69px;top:410.04px" class="cls_006"><span class="cls_006">I supported customers through online platform and edited English lessons for</span></div>
<div style="position:absolute;left:128.69px;top:422.76px" class="cls_006"><span class="cls_006">customers.</span></div>
<div style="position:absolute;left:79.22px;top:447.74px" class="cls_008"><span class="cls_008">8/2019</span></div>
<div style="position:absolute;left:128.69px;top:447.74px" class="cls_009"><span class="cls_009">MNIST Digit Recognition using CNN</span></div>
<div style="position:absolute;left:131.33px;top:465.98px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  GitHub:</span><span class="cls_006"> </span><A HREF="https://github.com/connortran216/MNIST-classification">https://github.com/connortran216/MNIST-classification</A> </span></div>
<div style="position:absolute;left:131.33px;top:479.42px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  Description:</span><span class="cls_006"> Apply a convolutional neural network model to extract</span></div>
<div style="position:absolute;left:149.33px;top:492.14px" class="cls_006"><span class="cls_006">information from images and enable computer to recognize digit. The</span></div>
<div style="position:absolute;left:149.33px;top:504.86px" class="cls_006"><span class="cls_006">accuracy was 98%.</span></div>
<div style="position:absolute;left:131.33px;top:518.30px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_012">  Tech stack:</span><span class="cls_006"> CNN, Keras framework, Tensorflow backend.</span></div>
<div style="position:absolute;left:79.22px;top:546.89px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:79.46px;top:570.41px" class="cls_012"><span class="cls_012">TON DUC THANG UNIVERSITY</span></div>
<div style="position:absolute;left:79.46px;top:587.93px" class="cls_006"><span class="cls_006">2017 - 2020</span></div>
<div style="position:absolute;left:79.46px;top:605.69px" class="cls_006"><span class="cls_006">GPA: 7.53/10</span></div>
<div style="position:absolute;left:79.46px;top:623.23px" class="cls_012"><span class="cls_012">Relevant Coursework:</span><span class="cls_006"> Linear Algebra, Statistic & Probability, Calculus, Machine Learning</span></div>
<div style="position:absolute;left:79.46px;top:635.95px" class="cls_006"><span class="cls_006">(GPA: 9.3), Artificial Intelligence (GPA: 8.1).</span></div>
<div style="position:absolute;left:79.46px;top:653.71px" class="cls_012"><span class="cls_012">Online Courses:</span><span class="cls_006"> “Machine Learning” by Andrew Ng in Coursera, “Learning How To Learn”</span></div>
<div style="position:absolute;left:79.46px;top:666.43px" class="cls_006"><span class="cls_006">by McMaster University & University of California San Diego</span></div>
<div style="position:absolute;left:79.46px;top:683.95px" class="cls_012"><span class="cls_012">Strengths:</span><span class="cls_006"> Mathematics, Machine Learning.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">

<div style="position:absolute;left:0px;top:0px">
	<!-- <img src="3eb25ca4-c039-11ea-8b25-0cc47a792c0a_id_3eb25ca4-c039-11ea-8b25-0cc47a792c0a_files/background2.jpg" width=612 height=792> -->
	<img src="{% static 'images_cv/background2.jpg' %}" width=612 height=792>
</div>

<div style="position:absolute;left:79.22px;top:52.10px" class="cls_005"><span class="cls_005">KEY SKILLS AND CHARACTERISTICS</span></div>
<div style="position:absolute;left:97.49px;top:75.62px" class="cls_006"><span class="cls_006">Languages Proficiency:</span></div>
<div style="position:absolute;left:354.12px;top:75.62px" class="cls_006"><span class="cls_006">Social Ability:</span></div>
<div style="position:absolute;left:79.46px;top:94.10px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  English: Advanced (IELTS 6.5)</span></div>
<div style="position:absolute;left:335.40px;top:94.10px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">   Negotiation & Conflict Resolution</span></div>
<div style="position:absolute;left:79.46px;top:107.54px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  Vietnamese: Native speaker</span></div>
<div style="position:absolute;left:335.40px;top:112.61px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">   Teamwork</span></div>
<div style="position:absolute;left:335.40px;top:131.09px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">   Communication & Presentation</span></div>
<div style="position:absolute;left:97.49px;top:145.49px" class="cls_006"><span class="cls_006">Job-related Ability:</span></div>
<div style="position:absolute;left:79.46px;top:163.97px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  Python: Proficient</span></div>
<div style="position:absolute;left:79.46px;top:177.41px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  Java: Familiar</span></div>
<div style="position:absolute;left:79.46px;top:190.85px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  C#: Familiar</span></div>
<div style="position:absolute;left:79.46px;top:204.31px" class="cls_010"><span class="cls_010">•</span><span class="cls_011"> </span><span class="cls_006">  Window 10: Proficient</span></div>
<div style="position:absolute;left:79.46px;top:216.79px" class="cls_017"><span class="cls_017">•</span><span class="cls_018"> </span><span class="cls_006">   Linux: Familiar</span></div>
<div style="position:absolute;left:503.23px;top:742.30px" class="cls_016"><span class="cls_016">Page 2</span></div>
</div>

</body>
</html>
